.footer {
  width: 100%;
  padding: 20px 0;
  background-color: #f0f0f0;
  border-top: 1px solid #e0e0e0;
}

.footer-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer-top {
  margin-bottom: 20px;
}

.footer-top-h1 {
  width: 30%;
  text-align: left;
  color: #333;
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-bottom-left,
.footer-bottom-right {
  display: flex;
  align-items: center;
}

.e-mail-bölümü {
  display: flex;
  align-items: center;
}

.email {
  margin-left: 10px;
  color: rgba(175, 12, 72, 1);
}

.footer-bottom-right a {
  margin-left: 20px;
  text-decoration: none;
}

.personal-blog {
  color: rgba(10, 10, 20, 1);
}

.github {
  color: rgba(0, 171, 107, 1);
}

.linkedin {
  color: rgba(0, 119, 181, 1);
}
.footer-bottom-right a:hover {
  text-decoration: underline;
}

.footer-text {
  text-align: center;
  color: rgba(107, 114, 128, 1);
  font-size: 14px;
}

body.dark-mode .footer {
  background-color: black;
  color: white;
}

body.dark-mode .footer-top-h1 {
  color: white;
}

body.dark-mode .footer-bottom-right a {
  color: white;
}

body.dark-mode .footer-bottom-right a:hover {
  text-decoration: underline;
}

body.dark-mode .footer-text {
  color: lightgray;
}

@media (max-width: 768px) {
  .footer-container {
    width: 90%;
  }

  .footer-top {
    align-items: center;
  }

  .footer-top-h1 {
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom-left,
  .footer-bottom-right {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }

  .footer-bottom-right a {
    margin-left: 10px;
    margin-right: 10px;
  }
}
