.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
  color: black;
}

.header-top {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 1rem;
}

.header-text {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  font-size: 1.3rem;
  gap: 2rem;
}

.header-bottom {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: flex-end;
  margin-top: 10px;
}

.header-link {
  margin: 5px 0;
  cursor: pointer;
}

.turkce {
  color: blue;
  margin-right: -1.5rem;
}

.header-text-ara {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -4px;
}
