.profile-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.profile-horizontal {
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(186, 178, 231, 1);
}
.profile-bottom {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.profile-bottom-left {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.profile-bottom-right {
  flex: 2;
}

.profile-bottom-left-top h2 {
  color: rgba(67, 56, 202, 1);
}

.profile-bottom-right h2 {
  color: rgba(67, 56, 202, 1);
}

.profile-bottom-left-bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-bottom-left-bottom-content {
  display: flex;
  flex-direction: row;
}
.profile-bottom-left-bottom-content-left,
.profile-bottom-left-bottom-content-right {
  flex: 1;
}

.profile-bottom-right p {
  color: rgba(107, 114, 128, 1);
  font-size: 14px;
  font-family: "Inter";
}

.profile-bottom-left-bottom-content-left {
  color: rgba(0, 0, 0, 1);
  font-family: "Inter";
  font-weight: bold;
  font-size: 15px;
}

.profile-bottom-left-bottom-content-right {
  font-family: "Inter";
  font-weight: 400;
}

body.dark-mode .profile-container {
  background-color: black;
  color: white;
}

body.dark-mode .profile-horizontal {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

body.dark-mode .profile-bottom-right p {
  color: lightgray;
}

body.dark-mode .profile-bottom-left-bottom-content-left {
  color: white;
}

body.dark-mode .profile-bottom-left-bottom-content-right {
  color: lightgray;
}

body.dark-mode .profile-bottom-left-top h2 {
  color: white;
}

body.dark-mode .profile-bottom-right h2 {
  color: white;
}
