.projects-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.projects-horizontal {
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(186, 178, 231, 1);
}

.projects-top h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.projects-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.projects-bottom-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  flex: 1;
  min-width: calc(33.333% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* .project-image:first-child {
  max-width: 95%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
} */

.project-image {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.projects-bottom-content h2 {
  margin: 10px 0;
  color: rgba(67, 56, 202, 1);
}

.projects-bottom-content p {
  margin: 10px 0;
  text-align: left;
  color: rgba(107, 114, 128, 1);
  font-size: 15px;
  flex: 1;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px 0;
}

.button-group button {
  font-size: 15px;
  padding: 8px 15px;
  color: rgba(55, 48, 163, 1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid rgba(55, 48, 163, 1);
  font-weight: 500;
}

.button-group button:hover {
  background-color: #c3c8ce;
}

.links-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: auto;
}

.links-group a {
  color: rgba(55, 48, 163, 1);
  text-decoration: underline;
}

.links-group a:hover {
  text-decoration: none;
  color: rgb(92, 108, 108);
}

body.dark-mode .projects-container {
  background-color: black;
  color: white;
}

body.dark-mode .projects-top h1 {
  color: white;
}

body.dark-mode .projects-bottom-content {
  background-color: rgba(255, 255, 255, 0.1);
}

body.dark-mode .projects-bottom-content h2 {
  color: lightgray;
}

body.dark-mode .projects-bottom-content p {
  color: lightgray;
}

body.dark-mode .button-group button {
  color: black;
  border: 1px solid white;
}

body.dark-mode .button-group button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

body.dark-mode .links-group a {
  color: white;
}

body.dark-mode .links-group a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .projects-container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .projects-bottom {
    gap: 15px;
    display: flex;
    flex-direction: column;
  }

  .projects-bottom-content {
    min-width: calc(50% - 15px);
  }
}

@media (max-width: 480px) {
  .projects-bottom-content {
    min-width: 100%;
  }

  .projects-bottom-content h2 {
    font-size: 1.5rem;
  }

  .projects-bottom-content p {
    font-size: 14px;
  }
}
