.skills-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  font-family: "Inter";
}

.skills-bottom {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.skill-item {
  flex: 1;
}

.skills-top-h1 {
  color: rgba(31, 41, 55, 1);
  margin-bottom: 0;
}

.skill-item-h2 {
  color: rgba(67, 56, 202, 1);
}

.skill-item-p {
  color: rgba(107, 114, 128, 1);
  font-size: 13px;
}

body.dark-mode .skills-container {
  background-color: black;
  color: white;
}

body.dark-mode .skills-top-h1 {
  color: white;
}

body.dark-mode .skill-item-h2 {
  color: lightgray;
}

body.dark-mode .skill-item-p {
  color: white;
}

@media (max-width: 768px) {
  .skills-container {
    width: 90%;
  }

  .skills-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Boşlukları küçülttük */
  }
}

@media (max-width: 480px) {
  .skills-bottom {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Boşlukları küçülttük */
  }

  .skill-item-h2 {
    font-size: 1.5rem; /* Başlık font boyutunu küçülttük */
  }

  .skill-item-p {
    font-size: 12px; /* Paragraf font boyutunu küçülttük */
  }
}
